@model PayrollExpertApp.Data.Company

@section scripts {
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datetimepicker1').datepicker();
        });
    </script>
}

<div class="col-md-10 panel-primary">
    <div class="content-box-header panel-heading">
        <div class="panel-title">Company - @Html.DisplayFor(model => model.Name)</div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group col-lg-12">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 ">
                    <label asp-for="OperatingName" class="control-label"></label>
                    <input asp-for="OperatingName" class="form-control" />
                    <span asp-validation-for="OperatingName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 ">
                    <label asp-for="CBABusinessNumber" class="control-label"></label>
                    <input asp-for="CBABusinessNumber" class="form-control" />
                    <span asp-validation-for="CBABusinessNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 ">
                    <label asp-for="RegistrationDate" class="control-label"></label>
                    <div class='input-group date' id='datetimepicker1'>
                        @Html.TextBoxFor(m => m.RegistrationDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 ">
                    <label asp-for="WebsiteURL" class="control-label"></label>
                    <input asp-for="WebsiteURL" class="form-control" />
                    <span asp-validation-for="WebsiteURL" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 ">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 ">
                    <label asp-for="SigningOfficer" class="control-label"></label>
                    <input asp-for="SigningOfficer" class="form-control" />
                    <span asp-validation-for="SigningOfficer" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 ">
                    <label asp-for="Directors" class="control-label"></label>
                    <input asp-for="Directors" class="form-control" />
                    <span asp-validation-for="Directors" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 ">
                    <label asp-for="MailingAddressSameAsHeadOfficeAddress" class="control-label"></label>
                    <div class="checkbox">
                        <label>
                            <input asp-for="MailingAddressSameAsHeadOfficeAddress" />
                        </label>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <input type="submit" value="Save" class="btn btn-primary" name="postvalue"/>
                </div>
            </form>
            <div class="col-md-12">
                <div class="content-box-large">
                    <div class="panel-heading">
                        <div class="panel-title">Addresses</div>

                        <div class="panel-options">
                            @*<a data-toggle="modal" data-target="#addressModal"><i class="glyphicon glyphicon-plus"></i></a>*@
                            <a asp-controller="Address" asp-action="Create" data-rel="create" asp-route-CId=@Model.Id><i class="glyphicon glyphicon-plus"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>AddressLine1</th>
                                    <th>AddressLine2</th>
                                    <th>AddressLine3</th>
                                    <th>City</th>
                                    <th>Province</th>
                                    <th>Country</th>
                                    <th>PostalCode</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var address in Model.Addresses)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => address.Type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => address.AddressLine1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => address.AddressLine2)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => address.AddressLine3)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => address.City)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => address.Province)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => address.Country)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => address.PostalCode)
                                        </td>
                                        <td>
                                            <a asp-controller="Address" asp-action="Edit" asp-route-id="@address.Id">Edit</a> |
                                            <a asp-controller="Address" asp-action="Delete" asp-route-id="@address.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @*<!-- Address Modal -->
    <div id="addressModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    @RenderSection()
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>*@
</div>
        

