@model PayrollExpertApp.Data.Person
@section scripts {
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#birthdaypicker').datepicker();
            $('#startdatepicker').datepicker();
        });
    </script>
}
<div class="col-md-10 panel-primary">
    <div class="content-box-header panel-heading">
        <div class="panel-title">Employee - @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="col-lg-6" id="tab1">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CompanyId" class="control-label"></label>
                        <select asp-for="CompanyId" class="form-control disabled" asp-items="ViewBag.CompanyId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SIN" class="control-label"></label>
                        <input asp-for="SIN" class="form-control" />
                        <span asp-validation-for="SIN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Birthday" class="control-label"></label>
                        <div class='input-group date' id='birthdaypicker'>
                            @Html.TextBoxFor(m => m.Birthday, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PayrollType" class="control-label"></label>
                        <select asp-for="PayrollType" class="form-control"
                                asp-items="@(new SelectList(@ViewBag.PayrollTypes,"ID", "Name"))"></select> 
                        <span asp-validation-for="PayrollType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RemittanceType" class="control-label"></label>
                        <input asp-for="RemittanceType" class="form-control" />
                        <span asp-validation-for="RemittanceType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractCopied" class="control-label"></label>
                        <div class="checkbox">
                            <label>
                                <input asp-for="ContractCopied" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comment" class="control-label"></label>
                        <input asp-for="Comment" class="form-control" />
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <div class='input-group date' id='startdatepicker'>
                            @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="content-box-large">
                    <div class="panel-heading">
                        <div class="panel-title">Addresses</div>

                        <div class="panel-options">
                            <a asp-action="Create" data-rel="create"><i class="glyphicon glyphicon-plus"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>AddressLine1</th>
                                    <th>AddressLine2</th>
                                    <th>AddressLine3</th>
                                    <th>City</th>
                                    <th>Province</th>
                                    <th>Country</th>
                                    <th>PostalCode</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var address in Model.Addresses)
                                {
                                <td>
                                    @Html.DisplayFor(modelItem => address.Type)
                                </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => address.AddressLine1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => address.AddressLine2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => address.AddressLine3)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => address.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => address.Province)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => address.Country)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => address.PostalCode)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@address.Id">Edit</a> |
                                        <a asp-action="Delete" asp-route-id="@address.Id">Delete</a>
                                    </td>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



